.contact{


    .content{
        padding: 0 2rem;

        display: flex;
        align-items: center;
        justify-content: space-between;

        .left{
            width: 50%;

            .box{
                display: flex;
                align-items: center;
                gap: 1rem;

                margin-bottom: 1.5rem;
            }
        
            .box .icon{
                font-size: 2rem;
            }
        
            .box a{
                font-size: 1.3rem;
            }
        }

        .right{
            width: 40%;
            height: 18rem;
            position: relative;

            .fa-youtube{
                position: absolute;
                top: 0;
                left: 1rem;
            }
            .fa-facebook{
                position: absolute;
                bottom: 5rem;
                left: 0rem;
            }
            .fa-instagram{
                 position: absolute;
                 bottom: 0rem;
                 right: 7rem;
            }
            .fa-whatsapp{
                 position: absolute;
                 top: 4rem;
                 right:10rem;
            }
            .icon{
                font-size: 3.2rem;
            }
        }
        
        .right-responsive{
            display: none;
        }
    }

}

@media screen and (max-width: 1090px){
    .contact .content{
        align-items: start;
        gap: 1rem;
        padding: .8em;

    }
    .contact .content .right{
        display: none;
    }
    .contact .content .right-responsive{
        width: 50%;

        display: flex;
        justify-content: space-between;
        gap: 1rem;

        .icon{
            font-size: 2.2rem;
        }
    }
}
@media screen and (max-width: 750px){
    .contact .content{
        flex-direction: column;
        gap: 2rem;
        padding: .5em;
        .left{
            width: 100%;

            .box{
                margin-bottom: 1rem;
                .icon{
                    font-size: 1.5rem;
                }
                a{
                    font-size: 1.1rem;
                }
            }
        }
        .right-responsive{
            .icon{
                font-size: 1.7rem;
            }
        }
    }
   
}
