.header{
    position: fixed;
    top: 0;left: 0;right: 0;
    z-index: 1200;
    background-color: var(--nigth_blue);
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.navbar .logo{
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar img{
    width: 8rem;

}
.navbar .icon{
    font-size: 2.5rem;
}

@media screen and (max-width: 750px){

   
}
@media screen and (max-width: 580px){
    .navbar img{
        width: 6rem;
    }
    .navbar .icon{
        font-size: 1.9rem;
    }
}