.hero{
    padding-top: 6rem;
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;

}
.hero h1{
    text-align: center;
    font-size: 3.3rem;
}
.hero .profile{
    width: 40%;
    display: flex;
    justify-content: center;
}
.hero .img{
    height: 20rem;
    width: 20rem;
}
.hero .img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.hero .content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2rem;

}
.hero .desc{
    padding: 0 4rem;
}
.hero .desc h2{
    padding-bottom: 32px;
}
.hero .desc .btn{
    background-color: var(--dore_orange);
    padding: .8rem 1rem;
    border: none;
    border-radius: 10px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: transform .4s ease;
}
.hero .desc .btn:hover{
    transform: scale(1.1);   
}
.hero .desc p{
    padding-bottom: 32px;
}

@media screen and (max-width: 1250px){
    .hero .img{
        height: 15rem;
        width: 15rem;
    }
    .hero .desc{
        padding: 0 1rem;
    }
}

@media screen and (max-width: 750px){
    .hero{
        padding-top: 8rem;
    }
    .hero .content{
        flex-direction: column;
    }
    .hero .profile{
        padding-bottom: 2.5rem;
    }
    .hero .img{
        height: 15rem;
        width: 15rem;
    }
    .hero .desc{
        padding: 0 .5rem;
    }
    .hero h1{
        font-size: 2.8rem;
    }
    .hero .desc .btn{
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 580px){
    .hero .profile{
        width: 100%;
    }
    .hero h1{
        font-size: 2.2rem;
    }
     .hero .desc .btn{
        padding: .4rem .5rem;
        font-size: 1.1rem;
    }
    .hero .desc p{
        font-size: .9rem;
}
}