.projets .content{
    display: flex;
    justify-content: space-between;
    padding: 0 1.5em;

    .box{
        max-width: 30rem;
    }
    .box p{
        padding-bottom: 1rem;
        text-align: center;

    }
    .box .head{
        display: flex;
        justify-content: center;
        align-items: center;

        gap: 2rem;
        padding-bottom: 1rem;

        .fa-solid{
            color: var(--dore_yellow);
            font-size: 2rem;
        }
    }
    .box .tech{
        display: flex;
        gap: 1rem;
        justify-content: center;
    }

}


@media screen and (max-width: 1250px){
    .projets .content{
        flex-direction: column;
        align-items: center;
        gap: 8rem;
    }
}
@media screen and (max-width: 750px){
    .projets .content{
        gap: 5rem;
    }
}
@media screen and (max-width: 580px){
    .projets .content{

        .box .tech{
            flex-direction: column;
            align-items: center;
            gap: .3rem;
            
            span{
                font-size: .9rem;
            }
        }
        .box .head{
            gap: .5rem;
            .fa-solid,h2{
                font-size: 1.3rem;
            }
        }
        .box p{
            font-size: 1rem;
        }
    }
}