@import "@fontsource/poppins"; 
@import './assets/css/header.css';
@import './assets/css/hero.css';
@import './assets/css/competences.css';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    color: var(--white);
}

:root{
    --nigth_blue: #040434;
    --dore_yellow: #EFD04F;
    --dore_orange: #C97D14;
    --white: #fff;
    --border: .2rem solid var(--white);
}
html{
    font-size: 16px;
}

body{
    background-color: var(--nigth_blue);
}
*::selection{
    background-color: var(--white);
    color: var(--nigth_blue);
}
.container{
    max-width: 1300px;
    margin: 0 auto;
    padding: 1rem;
    /* border: var(--border); */
}
.section-title{
    font-size: 2rem;
    padding-bottom: 2rem;
    color: var(--dore_yellow);
}
.section-padding{
    padding-top: 5rem;
    padding-bottom: 2rem;
}