@import "@fontsource/poppins"; 
@import './assets/css/header.css';
@import './assets/css/hero.css';
@import './assets/css/competences.css';
@import './assets/css/projets.css';
@import './assets/css/contact.css';
@import './assets/css/footer.css';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    color: var(--white);
}

:root{
    --nigth_blue: #040434;
    --dore_yellow: #EFD04F;
    --dore_orange: #C97D14;
    --white: #fff;
    --border: .2rem solid var(--white);
}
html{
    font-size: 16px;
    overflow-x: hidden;
}
p,span,button{
    font-size: 1.1rem;
}
body{
    background-color: var(--nigth_blue);
}
*::selection{
    background-color: var(--white);
    color: var(--nigth_blue);
}
.container{
    max-width: 1300px;
    margin: 0 auto;
    padding: 1rem;
}

.section-title{
    font-size: 2rem;
    padding-bottom: 2rem;
    color: var(--dore_yellow);
}
.section-padding{
    padding-top: 6rem;
    padding-bottom: 4rem;
}
@media screen and (max-width: 750px){
    .container{
        padding: 0 .5rem;
    }
}
@media screen and (max-width: 580px){
     .section-title{
        font-size: 1.5rem;
    }
       .container{
        padding: 0 .2rem;
    }
}